.song_card{
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 30%;
    height: 30%;
    border-inline: solid 1px var(--input-color);
    border-radius: 5%;
    font-size: 16px;
}

.control_img{
    width: 40%;
    margin-right: 5%;
}
.song_img{
    width: 100%;
}

.details_control{
    width: 60%;
    height: 100%;
}

.add_like{
    padding: 1%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.favoriteImage{
color: var(--primary-color);
}