.main_header{
    width: 100%;
    padding: 1.5% 1% 1.5% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.search{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search_input{
    height: 50%;
    background-color:var(--input-color);
    border:solid 1px var( --text-secondary-color);
    border-radius: 4px;
}