.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: solid 1px var(--text-color);
}

.main_page{
    width: 80%;
    margin: 1%;
    border: solid 1px var(--text-color);

}

.nav_bar{
    width:20%;
    border: solid 1px var(--text-color);
    background-color: var(--bg-secondary-color);
}